body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

:root {
  --primary: #fff;
  --seco: #f4f4f4;
  --accent: #578df5;
}

@import "tailwindcss";
